In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in stock data csv and assign it to a pandas dataframe
stock_csv = "Resources/TSLA.csv"
stock_df = pd.read_csv(stock_csv)
stock_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-27,108.398003,112.888000,107.856003,111.603996,111.603996,68040500
1,2020-01-28,113.697998,115.362000,111.615997,113.379997,113.379997,58942500
2,2020-01-29,115.138000,117.959999,113.486000,116.197998,116.197998,89007500
3,2020-01-30,126.484001,130.175995,123.599998,128.162003,128.162003,145028500
4,2020-01-31,128.000000,130.600006,126.503998,130.113998,130.113998,78596500

In [6]:
# Select necessary columns for further analysis
stock_cols = ["Date","Close"]
stock_clean = stock_df[stock_cols].copy()
stock_clean.head()

           Date       Close
0    2020-01-27  111.603996
1    2020-01-28  113.379997
2    2020-01-29  116.197998
3    2020-01-30  128.162003
4    2020-01-31  130.113998
..          ...         ...
247  2021-01-19  844.549988
248  2021-01-20  850.450012
249  2021-01-21  844.989990
250  2021-01-22  846.640015
251  2021-01-25  880.799988

[252 rows x 2 columns]

In [7]:
# Rename column headers to match our SQL Database
stock_clean = stock_clean.rename(columns={"Date":"date","Close":"close"})
stock_clean.head()

           date       close
0    2020-01-27  111.603996
1    2020-01-28  113.379997
2    2020-01-29  116.197998
3    2020-01-30  128.162003
4    2020-01-31  130.113998
..          ...         ...
247  2021-01-19  844.549988
248  2021-01-20  850.450012
249  2021-01-21  844.989990
250  2021-01-22  846.640015
251  2021-01-25  880.799988

[252 rows x 2 columns]

In [8]:
# Round data down to two decimal places for increased readability 
stock_clean = stock_clean.round(2)
stock_clean.head()

           date   close
0    2020-01-27  111.60
1    2020-01-28  113.38
2    2020-01-29  116.20
3    2020-01-30  128.16
4    2020-01-31  130.11
..          ...     ...
247  2021-01-19  844.55
248  2021-01-20  850.45
249  2021-01-21  844.99
250  2021-01-22  846.64
251  2021-01-25  880.80

[252 rows x 2 columns]

In [9]:
# Create the engine and connection to our SQL database
connection = "postgresql://postgres:TRG19_sustain@localhost:6969/Project2_db"
engine = create_engine(connection)

In [10]:
# Check to see if connection is stable and tables are accessible 
engine.table_names()

['supercharged', 'tsla']

In [11]:
# Load data into the pre-generated SQL database
stock_clean.to_sql(name='tsla', con=engine, if_exists='append', index=False)

In [ ]:
# Save copy of data in HTML format for display on webpage  
save_html = stock_clean.to_html("clean_stocks.html", index=False)